.center{
	
	text-align: center;
	font-size: xx-large;
}

.span{
	display: inline-block;
	width: 50px;
  	height: 40px;
	border-color: greenyellow;
	border-style: outset;
}
.span:hover{
	border-color: chartreuse;
	background-color: darkgrey;
}
.span:active{
	border-color: darkred;
	background-color: coral;
}

.game{
	margin-top: 0%;
	text-align: center;
	font-size: x-large;
}

.bigspan{
	display: inline-block;
	width: 90px;
  	height: 90px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: white;
	font-size: xx-large;
	background-color: red;
	border-color:red;

}
.bigspan:hover{
	color: grey;
}
.bigspan:focus{
	border-color: grey;
	
	background-color: crimson
}
.base{
	font-size:	medium;
	top: 70px;
}

.button{
	width: 60px;
	height: 60px;
	background-color:rgb(240, 197, 134);
	border-radius: 15px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: xx-large;
	color:rgb(167, 167, 255);
}


footer{
    margin-bottom: -130px;
    position: absolute;
    bottom: 0;
    width: 100%;}


footer img{
    width: 100%;}   



.figure{
	font-size: xx-large;
	color:white;

}


@keyframes rotationPlus {
    0% {
		transform: translate3d(0px, 0px, 0px);

    }
	20% {
		transform: translate3d(0px, 70px, 0px);
		visibility: hidden;
	}
	40% {
		transform: translate3d(700px, 70px, 0px);
		visibility: hidden;
	}
	60% {
		transform: translate3d(700px, -70px, 0px);
		visibility: hidden;
	}
	80% {
		transform: translate3d(0px, -70px, 0px);
		visibility: hidden;
	}

    100% {
		transform: translate3d(0px, 0px, 0px);
 
    }
}

@keyframes rotationMinus {
    0% {
		transform: translate3d(0px, 0px, 0px);
		
    }
	20% {
		transform: translate3d(0px, -70px, 0px);
	}
	40% {
		transform: translate3d(70px, -70px, 0px);
		visibility: hidden;
	}
	60% {
		transform: translate3d(70px, 70px, 0px);
		visibility: hidden;
	}
	80% {
		transform: translate3d(0px, 70px, 0px);
		visibility: hidden;
	}

    100% {
		transform: translate3d(0px, 0px, 0px);
 
    }
}


